@charset "utf-8";
/* CSS Document */

#relative{
	margin:0 auto;
	width:100%;
	/*background-color:#666;*/
	height:410px;
}

#absolute{
	margin:0;
	width:100%;
	/*background-color:#CCC;*/
	height:410px;
	position:relative;
}
#absolute img
{
	position:absolute;
	top:0;
	left:0;
}